<!-- views/add-issue.ejs -->

<h1 class="mt-5 mb-4 header">Add New Issue</h1>

<form action="/postissue" method="post" enctype="multipart/form-data">
        <input type="hidden" class="form-control" id="projectId" name="projectId" value="<%= projectId %>">
    <div class="mb-3">
        <label for="title" class="form-label">Issue Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Issue Description</label>
        <textarea class="form-control" id="desc" name="desc" rows="3" required></textarea>
    </div>
    <div class="mb-3">
        <label for="label" class="form-label">Label</label>
        <select class="form-select" id="label" name="label">
            <option value="New">New</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
            <option value="Rejected">Rejected</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author">
    </div>
    <button type="submit" class="btn btn-primary">Add Issue</button>
</form>